<div id="nav-container">

    <mat-spinner *ngIf="isLoading"></mat-spinner>
    
    <ul id="post-list">
        <li id="post" *ngFor="let post of posts" [class.selected]="post === selectedPost" (click)="onSelect(post)">

            <div id="post-container">
                <div id="post-title">{{ post.title }}</div>
                <div id="post-author">{{ post.author }}</div>
                <div id="post-time">{{ post.upload_time }}</div>
            </div>
            <mat-divider></mat-divider>
        </li>
    </ul>

    <app-mat-paginator-goto [length]="length" (pageChanged)="onPageChanged($event)">
    </app-mat-paginator-goto>
</div>