/* .d-flex {
  display: flex;
} */

.go-to-container {
  float: right;
  display: flex;
  align-items: baseline;
  background: white;
  
}

mat-form-field > input{
  width: 30px;
  /* margin: 6px 4px 0 4px; */
  font-size: 12px;
}

.go-to-label {
  margin: 0 4px 0 4px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}